:root {
    --blue-950: #030b18;
    --blue-925: #071e3f;
    --blue-900: #0c3166;
    --blue-800: #10448d;
    --blue-700: #1556b4;
    --blue-600: #1969db;
    --blue-500: #317fed;
    --blue-400: #5797f0;
    --blue-300: #7daef4;
    --blue-200: #a3c6f7;
    --blue-150: #c9ddfa;
    --blue-100: #eff5fe;
}
