:root {
    --green-950: #091108;
    --green-925: #0f2611;
    --green-900: #153c1a;
    --green-800: #1b5122;
    --green-700: #21662b;
    --green-600: #25833a;
    --green-500: #26b056;
    --green-400: #35d272;
    --green-300: #63dd90;
    --green-200: #90e8ae;
    --green-150: #bdf3cc;
    --green-100: #eafeea;
}
