:root {
    --indigo-950: #080614;
    --indigo-925: #19143f;
    --indigo-900: #2a216a;
    --indigo-800: #3a2e95;
    --indigo-700: #4b3bc0;
    --indigo-600: #5c49eb;
    --indigo-500: #725fff;
    --indigo-400: #8c7cff;
    --indigo-300: #a69aff;
    --indigo-200: #c0b7ff;
    --indigo-150: #dad5ff;
    --indigo-100: #f4f3ff;
}
