:root {
    --magenta-950: #13040f;
    --magenta-925: #350a2c;
    --magenta-900: #581148;
    --magenta-800: #7b1765;
    --magenta-700: #9e1e82;
    --magenta-600: #c1249e;
    --magenta-500: #d43cb2;
    --magenta-400: #dc61c1;
    --magenta-300: #e485cf;
    --magenta-200: #eca9dd;
    --magenta-150: #f4ceec;
    --magenta-100: #fcf2fa;
}
