:root {
    --red-950: #120205;
    --red-925: #39050f;
    --red-900: #5f0819;
    --red-800: #860b24;
    --red-700: #ac0e2e;
    --red-600: #d31138;
    --red-500: #e7284e;
    --red-400: #ec506f;
    --red-300: #f07790;
    --red-200: #f49fb0;
    --red-150: #f9c7d1;
    --red-100: #fdeef1;
}
