:root {
    --red-orange-950: #190b05;
    --red-orange-925: #3d1307;
    --red-orange-900: #601b0a;
    --red-orange-800: #84240c;
    --red-orange-700: #a72c0e;
    --red-orange-600: #cb3411;
    --red-orange-500: #ee3c13;
    --red-orange-400: #fe562f;
    --red-orange-300: #fe7d5e;
    --red-orange-200: #ffa48e;
    --red-orange-150: #ffccbe;
    --red-orange-100: #fff3ee;
}
