:root {
    --slate-gray-950: #09090b;
    --slate-gray-925: #1d1d22;
    --slate-gray-900: #313138;
    --slate-gray-800: #45444f;
    --slate-gray-700: #595866;
    --slate-gray-600: #6d6c7d;
    --slate-gray-500: #838292;
    --slate-gray-400: #9a9aa7;
    --slate-gray-300: #b2b1bb;
    --slate-gray-200: #c9c9d0;
    --slate-gray-150: #e1e0e4;
    --slate-gray-100: #f8f8f9;
}
