:root {
    --teal-950: #07100c;
    --teal-925: #0c231a;
    --teal-900: #113628;
    --teal-800: #164936;
    --teal-700: #1b5b45;
    --teal-600: #177f63;
    --teal-500: #12a282;
    --teal-400: #2abb9b;
    --teal-300: #5acab1;
    --teal-200: #8bdac7;
    --teal-150: #bbe9dc;
    --teal-100: #ecf8f2;
}
