:root {
    --violet-950: #110517;
    --violet-925: #2e0d3e;
    --violet-900: #4b1465;
    --violet-800: #681c8c;
    --violet-700: #8424b3;
    --violet-600: #a12cda;
    --violet-500: #b543ec;
    --violet-400: #c366f0;
    --violet-300: #d089f3;
    --violet-200: #deabf7;
    --violet-150: #eccefa;
    --violet-100: #f9f0fe;
}
