:root {
    --unity-font: url('../Resources/Fonts/Neris-Black-SDF.asset');
    --unity-background-scale-mode: stretch-to-fill;
    --unity-background-image-tint-color: #FFF;
    --unity-slice-left: 0;
    --unity-slice-top: 0;
    --unity-slice-right: 0;
    --unity-slice-bottom: 0;
    --unity-slice-scale: 1;
}
.class {
    background-image: url('../Resources/Images/Background.png');
}