:root {
    --cyan-950: #0a1211;
    --cyan-925: #102425;
    --cyan-900: #153639;
    --cyan-800: #1b484c;
    --cyan-700: #215a60;
    --cyan-600: #247981;
    --cyan-500: #24a9b6;
    --cyan-400: #28d6e6;
    --cyan-300: #57e0ec;
    --cyan-200: #85eaf2;
    --cyan-150: #b4f5f9;
    --cyan-100: #e2ffff;
}
