:root {
    --gold-950: #140e05;
    --gold-925: #2c1f0a;
    --gold-900: #432f0e;
    --gold-800: #5b4013;
    --gold-700: #725118;
    --gold-600: #946818;
    --gold-500: #d4950d;
    --gold-400: #eeb028;
    --gold-300: #f2c259;
    --gold-200: #f7d38a;
    --gold-150: #fbe5bc;
    --gold-100: #fff5e9;
}
