:root {
    --gray-950: #000000;
    --gray-925: #171717;
    --gray-900: #2f2f2f;
    --gray-800: #464646;
    --gray-700: #5e5e5e;
    --gray-600: #757575;
    --gray-500: #8c8c8c;
    --gray-400: #a3a3a3;
    --gray-300: #bababa;
    --gray-200: #d1d1d1;
    --gray-150: #e8e8e8;
    --gray-100: #ffffff;
}
