:root {
    --orange-950: #150d04;
    --orange-925: #2e1c08;
    --orange-900: #472a0c;
    --orange-800: #603910;
    --orange-700: #794714;
    --orange-600: #a65d13;
    --orange-500: #d37413;
    --orange-400: #ff8a14;
    --orange-300: #ffa54a;
    --orange-200: #ffc081;
    --orange-150: #ffdab7;
    --orange-100: #fff5ed;
}
