:root {
    --shade-950: hsla(0, 0%, 0%, 0.94);
    --shade-925: hsla(0, 0%, 0%, .895);
    --shade-900: hsla(0, 0%, 0%, .815);
    --shade-800: hsla(0, 0%, 0%, .73);
    --shade-700: hsla(0, 0%, 0%, .64);
    --shade-600: hsla(0, 0%, 0%, .55);
    --shade-500: hsla(0, 0%, 0%, 0.45);
    --shade-400: hsla(0, 0%, 0%, 0.36);
    --shade-300: hsla(0, 0%, 0%, .28);
    --shade-200: hsla(0, 0%, 0%, .19);
    --shade-150: hsla(0, 0%, 0%, 0.1);
    --shade-100: hsla(0, 0%, 0%, 0.035);
}
