:root {
    --tint-950: hsla(0, 0%, 100%, .035);
    --tint-925: hsla(0, 0%, 100%, 0.1);
    --tint-900: hsla(0, 0%, 100%, 0.19);
    --tint-800: hsla(0, 0%, 100%, .28);
    --tint-700: hsla(0, 0%, 100%, 0.36);
    --tint-600: hsla(0, 0%, 100%, 0.45);
    --tint-500: hsla(0, 0%, 100%, .55);
    --tint-400: hsla(0, 0%, 100%, 0.64);
    --tint-300: hsla(0, 0%, 100%, .73);
    --tint-200: hsla(0, 0%, 100%, .815);
    --tint-150: hsla(0, 0%, 100%, .895);
    --tint-100: hsla(0, 0%, 100%, .94);
}
