:root {
    --yellow-950: #111006;
    --yellow-925: #252405;
    --yellow-900: #3a3804;
    --yellow-800: #4e4d03;
    --yellow-700: #636101;
    --yellow-600: #777500;
    --yellow-500: #ccc500;
    --yellow-400: #fcf433;
    --yellow-300: #fdf67a;
    --yellow-200: #fdf89b;
    --yellow-150: #fef9bb;
    --yellow-100: #fefadb;
}
